@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin '@midudev/tailwind-animations';
@import '@fontsource/poppins/100.css';
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/poppins/800.css';
@import '@fontsource/poppins/900.css';

@theme {
  --color-dark-primary: #06090f;
  --color-dark-secondary: #0c121e;
  --color-dark-tertiary: #111b2c;
  --color-dark-accent: #17243b;

  --color-dark: #141414;

  --font-poppins: 'Poppins', sans-serif;
}

@utility mask-fade-bottom {
  mask-image: linear-gradient(to bottom, #0c121e 80%, transparent 100%);
}

@utility mask-fade-right {
  mask-image: linear-gradient(to right, #0c121e 80%, transparent 100%);
}

@utility mask-fade-left {
  mask-image: linear-gradient(to left, #0c121e 80%, transparent 100%);
}

@utility mask-fade-top {
  mask-image: linear-gradient(to top, #0c121e 80%, transparent 100%);
}

@utility mask-fade-image-film {
  mask-image: linear-gradient(to bottom, #0c121e 80%, transparent 100%);
}

@utility mask-fade-name {
  mask-image: linear-gradient(to bottom, #0c121e 50%, transparent 100%);
}
