---
import Layout from '@/layouts/Layout.astro'
import { getMoviesPaths } from '@/lib/getMoviesPaths.js'

export const getStaticPaths = async () => {
  return await getMoviesPaths()
}

const { name } = Astro.params
---

<Layout title={name}>
  <div transition:name="movie">{name}</div>
</Layout>
