---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Cine Info - Sobre nosotros"
  description="Sobre nosotros"
  showHeader={false}
  showFooter={false}
>
  <main class="h-screen bg-[url(images/Background_cine.webp)] px-18 py-10 pt-24">
    <div class="bg-dark-secondary/95 absolute inset-0 h-full w-full shadow-2xl">
      <h1 class="animate-fade-in mt-30 mb-8 text-center text-5xl font-bold text-white">
        Sobre nosotros
      </h1>
      <p class="prose animate-fade-in mx-auto my-0 text-xl text-white">
        Cine Info es un proyecto personal creado con pasión por el cine, con el objetivo de brindar
        a los usuarios una plataforma simple y clara para consultar información sobre películas. En
        este sitio vas a encontrar detalles, valoraciones, sinopsis, tráilers y otros datos
        relevantes sobre películas de todos los géneros y épocas. La idea nació como una forma de
        aprender más sobre desarrollo web y, al mismo tiempo, compartir una herramienta útil para
        todos los que disfrutan del séptimo arte. Cine Info no almacena películas ni ofrece
        contenido para ver online, solo información y referencias para ayudarte a elegir tu próxima
        película. Gracias por visitar el sitio y ¡que disfrutes tu próximo film!
      </p>
    </div>
  </main>
</Layout>
