---
import Layout from '../layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
import PosterPopularMovies from '@/sections/PosterPopularMovies.astro'
---

<Layout title="Cine Info" showHeader={true} showFooter={true}>
  <Hero />
  <div class="search-movie flex flex-wrap gap-6 p-6"></div>
  <PosterPopularMovies />
</Layout>

<script>
  import { dinamicPagesMovies } from '@/utils/dinamicPagesMovies'

  dinamicPagesMovies()
</script>
