---
import FilteredDinamicsMovies from '@/components/FilteredDinamicsMovies.astro'
import InputSearch from './search/InputSearch.astro'
---

<header
  class="fixed top-0 z-10 flex h-30 w-full items-center justify-between bg-gradient-to-b from-gray-900 to-transparent px-6 py-4 text-white transition-all"
>
  <a href="/" class="link-home" aria-label="Ir al Inicio">
    <img class="h-16 w-auto" src="/images/cine_logo-big.webp" alt="Logo de cine Info" />
  </a>

  <div class="relative flex w-60 flex-col gap-2">
    <InputSearch />
    <FilteredDinamicsMovies />
  </div>
</header>

<style>
  header {
    animation: header-blur-scroll 0.3s linear both;
    animation-timeline: scroll();
    animation-range: 0 300px;
  }

  @keyframes header-blur-scroll {
    0% {
      backdrop-filter: blur(0px);
      background: linear-gradient(to bottom #101828, transparent);
    }
    100% {
      backdrop-filter: blur(10px);
      background: linear-gradient(to bottom #101828, transparent);
    }
  }
</style>
