---
import Link from './Link.astro'
const { pathname } = Astro.url
---

<!-- NavBar para pantallas grandes -->
<div
  class="navbar md:mask-fade-sides-bottom hidden md:absolute md:top-0 md:left-1/2 md:flex md:h-16 md:w-[80rem] md:translate-x-[-50%] md:items-center md:justify-center md:rounded-b-md md:bg-gray-600/10 md:py-6 md:transition md:hover:bg-gray-600/20"
>
  <nav>
    <ul class="ul flex gap-6">
      <li>
        <Link
          href="/"
          content="Inicio"
          className={`link mask-fade-sides-bottom relative px-10 pt-20 pb-6 font-bold ${pathname !== '/' ? 'underline-left' : ''} ${pathname === '/' ? 'bg-gray-700/40 underline' : ''}`}
        />
      </li>
      <li>
        <Link
          href="/Upcoming"
          content="Estrenos"
          className={`link mask-fade-sides-bottom relative px-10 pt-20 pb-6 font-bold ${pathname !== '/Upcoming' ? 'underline-left' : ''} ${pathname === '/Upcoming' ? 'bg-gray-700/40 underline' : ''}`}
        />
      </li>
    </ul>
  </nav>
</div>

<script is:inline>
  import { dinamicPagesMovies } from '@/utils/dinamicPagesMovies'

  dinamicPagesMovies()
</script>
