---
import SearchIcon from '@/assets/svg/Search.svg'
---

<form aria-label="Formlario de búsqueda">
  <div
    class="shadow-inset-sm bg-dark-secondary/70 relative flex min-w-2xs items-center justify-center rounded-lg shadow-2xl shadow-gray-950 backdrop-blur-lg"
  >
    <SearchIcon class="absolute left-1" />
    <input
      class="w-full appearance-none rounded-lg border-none p-2 pl-8 text-gray-100 transition-all outline-none placeholder:text-gray-100 focus:border-none focus:ring-1 focus:ring-gray-100/50 focus:outline-none"
      type="search"
      placeholder="Buscar..."
    />
  </div>
</form>

<style>
  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
</style>
