---
import SearchIcon from '@/assets/svg/Search.svg'
---

<form>
  <div class="flex min-w-2xs items-center justify-center">
    <SearchIcon />
    <input class="" type="search" placeholder="Buscar..." />
  </div>
  <!-- Componente de cuenta de usuario -->
</form>
