<div
  class="filtered-dinamic-movies bg-dark-secondary/90 absolute top-11 z-30 flex h-auto max-h-[40rem] w-auto flex-col gap-2 overflow-y-scroll rounded-md p-2 opacity-0 shadow-lg transition-all"
>
</div>

<style>
  .filtered-dinamic-movies::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .filtered-dinamic-movies::-webkit-scrollbar:vertical {
    width: 7px;
  }

  .filtered-dinamic-movies::-webkit-scrollbar-button:increment,
  .filtered-dinamic-movies::-webkit-scrollbar-button {
    display: none;
  }

  .filtered-dinamic-movies::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  .filtered-dinamic-movies::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
  }

  .filtered-dinamic-movies::-webkit-scrollbar-track {
    border-radius: 10px;
  }
</style>
