---
const { src, alt, title } = Astro.props
---

<div
  transition:name="movie"
  class="group contenedor hover:bg-dark-tertiary relative h-[23rem] w-[18rem] overflow-hidden rounded-lg shadow-md transition-all duration-300 hover:scale-100 hover:border hover:border-white"
>
  <img
    src={src}
    alt={alt}
    class="contenedor animate-fade-in animate-duration-300 group-hover:mask-fade-name h-full w-full rounded-lg transition-all duration-300 group-hover:scale-95 group-hover:opacity-50"
    loading="lazy"
    fetchpriority="low"
    decoding="async"
  />
  <div class="pointer-events-none absolute bottom-2 left-1 hidden transition-all group-hover:block">
    <span
      transition:name="movie-name"
      class="text-shadow mb-0.5 block text-xl font-bold text-pretty text-white">{title}</span
    >
    <a
      class="pointer-events-auto inline-block cursor-pointer rounded-lg border-2 border-transparent bg-gray-500/50 px-4 py-2 text-white transition-all duration-100 hover:scale-105 hover:border-2 hover:border-white hover:bg-gray-600/50"
      href={`/${title}`}>Ver más</a
    >
  </div>
</div>

<style>
  .contenedor:has(a:hover) {
    filter: 50%;
  }
</style>
