---
import { movieTrailer } from '@/utils/movieTrailer.js'

const { videoId, backgroundImage, trailerTitle } = Astro.props

let movieTrailerKey = await movieTrailer(videoId)
---

<div class="relative aspect-video h-auto w-full rounded-lg bg-cover bg-center">
  <iframe
    class="trailer absolute inset-0 h-full w-full rounded-lg"
    src=`https://www.youtube.com/embed/${movieTrailerKey}`
    title={`Reproducir trailer de ${trailerTitle}`}></iframe>
</div>
