---
import { IMAGES_PATH } from '@/services/consts/const-imagesPath'
import PosterMovie from '@/components/PosterMovie.astro'
import { getAllMovies } from '@/lib/allMovies.js'

const movies = await getAllMovies()
---

<section
  class="grid h-auto w-full grid-cols-1 place-items-center gap-4 md:grid-cols-3 lg:grid-cols-5"
>
  {
    movies.map((film) => {
      return (
        <PosterMovie
          src={`${IMAGES_PATH}${film.poster_path}`}
          alt={film.title}
          title={film.title}
        />
      )
    })
  }
</section>
