---
import { IMAGES_PATH } from '@/services/consts/const-imagesPath'
import PosterMovie from '@/components/PosterMovie.astro'
import { getAllMovies } from '@/lib/allMovies.js'

const movies = await getAllMovies()
---

<section
  class="grid h-auto w-full grid-cols-[repeat(auto-fit,_minmax(135px,_1fr))] place-items-center gap-4 px-2 sm:grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] md:grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] lg:grid-cols-[repeat(auto-fit,_minmax(300px,_1fr))]"
>
  {
    movies.map((film) => {
      return (
        <PosterMovie
          src={`${IMAGES_PATH}${film.poster_path}`}
          alt={film.title}
          title={film.title}
        />
      )
    })
  }
</section>

<script>
  import { dinamicPagesMovies } from '@/utils/dinamicPagesMovies'

  dinamicPagesMovies()
</script>
