---
import { requestsFilms } from '@/services/requests/requests-films'
import { trendingMovies } from '@/lib/endpoints'
import { IMAGES_PATH } from '@/services/consts/const-imagesPath'

const trendingFilms = await requestsFilms(trendingMovies)

const randomIndex = Math.floor(Math.random() * trendingFilms.results.length)

const film = trendingFilms.results[randomIndex]
---

{
  film && (
    <div class="relative aspect-video">
      <img
        transition:name="movie"
        src={`${IMAGES_PATH}${film.poster_path}`}
        alt={film.title}
        class="mask-fade-bottom animate-fade-in aspect-video min-w-full object-center"
        loading="eager"
        fetchpriority="high"
        decoding="sync"
      />
      <div class="absolute bottom-2 left-1 lg:bottom-24 lg:left-8">
        <span class="text-shadow mb-0.5 block text-5xl text-pretty text-white lg:text-3xl lg:font-bold">
          {film.title}
        </span>
      </div>
    </div>
  )
}
