---
import SocialNetwork from '../SocialNetwork.astro'
import Instagram from '@/assets/svg/Instagram.svg'
import Linkedin from '@/assets/svg/Linkedin.svg'
import Github from '@/assets/svg/Github.svg'
---

<footer class="bg-dark-accent/50 w-full">
  <div class="mx-auto w-full max-w-screen-xl p-4 md:py-8">
    <div class="flex items-center justify-between">
      <div class="sm:flex sm:items-center sm:justify-between">
        <div class="mb-4 flex items-center space-x-3 sm:mb-0 rtl:space-x-reverse">
          <img src="/cine_logo-big.webp" class="h-18 w-auto" alt="Cine Info logo" />
        </div>
      </div>
      <div class="flex items-center gap-4">
        <SocialNetwork
          href="https://www.instagram.com/nicotapie1/"
          target="_blank"
          aria-label="Instagram de Nicolás Tapié"
          title="Instagram"
        >
          <Instagram class="text-[#6a7282] transition-all duration-200 hover:text-white" />
        </SocialNetwork>
        <SocialNetwork
          href="https://www.linkedin.com/in/nicolasatapiedev30/"
          target="_blank"
          aria-label="Linkedin de Nicolás Tapié"
          title="Linkedin"
        >
          <Linkedin class="text-[#6a7282] transition-all duration-200 hover:text-white" />
        </SocialNetwork>
        <SocialNetwork
          href="https://github.com/nicotapie30"
          target="_blank"
          aria-label="Github de Nicolás Tapié"
          title="Github"
        >
          <Github class="text-[#6a7282] transition-all duration-200 hover:text-white" />
        </SocialNetwork>
      </div>
    </div>
    <hr class="relative my-6 border-gray-200 sm:mx-auto lg:my-8 dark:border-gray-700" />
    <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400"
        >© 2025 <a
          href="https://www.linkedin.com/in/nicolasatapiedev30"
          target="_blank"
          class="underline-left relative">Nicolás Alejandro Tapié</a
        >. Todos los derechos reservados.</span
      >
    </div>
  </div>
</footer>
